### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Maven ###
target/
*.jar
*.war
*.ear

### Gradle ###
.gradle/
build/

### Java ###
*.class
.DS_Store
.vscode/

### Git ###
.git/